HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!mj/skhuAdventure/src/main/**/build/
!mj/skhuAdventure/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!mj/skhuAdventure/src/main/**/bin/
!mj/skhuAdventure/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!mj/skhuAdventure/src/main/**/out/
!mj/skhuAdventure/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# Ignore env file in imgtransformation directory
fastapi/domain/imgtransformation/.env
fastapi/domain/placerecognition/utils/buildingimg
fastapi/domain/placerecognition/models/last.ckpt
**/__pycache__/